{% extends 'dynamica_app/base.html' %}
{% load static %}

{% block title_block %}
  Calendar
{% endblock %}

{% block body_block %}
<main>
  <section class="ftco-section">
    <div class="container">
      <a class="back-btn" href="{% url 'menu' %}">
       <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
         <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
       </svg>
     </a>
      <div class="row">
        <div class="col-md-12">
          <div class="content w-100">
            <div class="calendar-container">
              <div class="calendar">
                <div class="year-header">
                  <span class="left-button fa fa-chevron-left" id="prev"> </span>
                  <span class="year" id="label"></span>
                  <span class="right-button fa fa-chevron-right" id="next"> </span>
                </div>
                <table class="months-table w-100">
                  <tbody>
                    <tr class="months-row">
                      <td class="month">Jan</td>
                      <td class="month">Feb</td>
                      <td class="month">Mar</td>
                      <td class="month">Apr</td>
                      <td class="month">May</td>
                      <td class="month">Jun</td>
                      <td class="month">Jul</td>
                      <td class="month">Aug</td>
                      <td class="month">Sep</td>
                      <td class="month">Oct</td>
                      <td class="month">Nov</td>
                      <td class="month">Dec</td>
                    </tr>
                  </tbody>
                </table>

                <table class="days-table w-100">
                  <td class="day">Sun</td>
                  <td class="day">Mon</td>
                  <td class="day">Tue</td>
                  <td class="day">Wed</td>
                  <td class="day">Thu</td>
                  <td class="day">Fri</td>
                  <td class="day">Sat</td>
                </table>
                <div class="frame">
                  <table class="dates-table w-100">
                    <tbody class="tbody">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="events-container">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="transfer" value="{{ events }}">
    </div>
  </section>
</main>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/base.js' %}"></script>
{% endblock %}
