{% extends 'dynamica_app/base.html' %}
{% load static %}

{% block title_block %}
  View Requests
{% endblock %}

{% block body_block %}
<main>
  <div class="content-container small-top-margin">
    <a class="back-btn" href="{% url 'menu' %}">
     <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
       <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
     </svg>
   </a>
   <div class="content-padding">
     <button id="submit-btn" class="my-4 toggle-button" value="all">Incomplete Requests</button>
     <h1 id="title">Requests</h1>
     <table id="table" class="center styled-table">
       <thead>
           <tr>
               <th class="th-center">Requested</th>
               <th class="th-center">Username</th>
               <th class="th-center">Piece</th>
               <th class="th-center">Part</th>
               <th class="th-center">Completed</th>
           </tr>
       </thead>
       <tbody>
         {% for req in requests %}
           <tr class="{{ req.completed }}"{% if req.completed %} style="background-color: #39DB80" {% endif %}>
               <td>{{ req.time }}</td>
               <td>{{ req.user }}</td>
               <td>{{ req.name }}</td>
               <td>{{ req.part }}</td>
               <td id="{{ req.id }}">
                 {% if req.completed %}
                   <button class='completed table-button unstyled-button'><svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='currentColor' class='bi bi-check2' viewBox='0 0 16 16'><path d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z'/></svg></button>
                 {% else %}
                   <button class='not-completed table-button unstyled-button'><svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='currentColor' class='bi bi-x' viewBox='0 0 16 16'><path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/></svg></button>
                 {% endif %}
               </td>
           </tr>
         {% endfor %}
       </tbody>
     </table>
   </div>
</div>
</main>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/admin.js' %}"></script>
{% endblock %}
